body {
    background: url('../../img/plano_fundo.jpeg');
}
h1 {
    text-align: center;
}
#form-reservar-vagas {
    width: 80%;
    margin-left: 10%;
}
#data-volta:hover[disabled=disabled] {
    cursor: not-allowed;
}

/*#bt {
   margin-top: 100px;
   margin-right: 2090px;
}*/