body {
    background: url('../../img/plano_fundo.jpeg');
}
h1 {
    text-align: center;
}
#form-consultar-vagas {
    width: 80%;
    margin-left: 10%;
}
#data-volta:hover[disabled=disabled] {
    cursor: not-allowed;
}